a {
	text-decoration: none;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #0E0E0E
}

.welcome{
	position: absolute;
	left: 0px;
	top: 49%;
	right: 0px;
	bottom: 0px;

	text-align: center;
	line-height: 50px;
	color: #0A0A0A;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 16px;
	width: 100%;
	height: 50px;
	background-color: #303030;
	border: 1px solid #3A3A3A;
	box-sizing: border-box;
}

.welcome .tusk{
	color: rgba(129, 193, 214, 1);/* 6395A2 */
	font-weight: 800;
	cursor: pointer;
}

.welcome .tusk:hover{
	color: #dedede;
	transition: color .512s linear;
}

.welcome .author{
	height: 15px;
	margin-top: -14px;
	font-size: 12px;
	color: #000;
	cursor: pointer;
	display: block
}
